---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/kimura
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a48c26dd395d0ed0bfa39d6db6d1b18280f5d7dc0a75a9ffc8cea29f05e8e0f"
      Last-Modified:
      - Fri, 16 Aug 2024 14:11:22 GMT
      Github-Authentication-Token-Expiration:
      - '2024-08-28 02:34:05 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1724344178'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":123,"login":"kimura","name":"","avatar_url":"http://example.com/avatar.png"}'
  recorded_at: Thu, 22 Aug 2024 15:29:38 GMT
recorded_with: VCR 6.3.1
