---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:pr%20assignee:kimura%20-label:release
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-05-29 04:06:58 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1716778000'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"items":[{"id":1,"number":100,"body":"## Issue\r\n\r\n- https://github.com/test/repository/issues/1\r\n\r\n## 概要","created_by":"2000/01/01 09:00:00","updated_by":"2000/01/01 10:00:00"},{"id":2,"number":200,"body":"## Issue\r\n\r\n- https://github.com/test/repository/issues/2\r\n\r\n## 概要","created_by":"2000/01/01 09:00:00","updated_by":"2000/01/01 10:00:00"}]}'
  recorded_at: Mon, 27 May 2024 02:45:40 GMT
recorded_with: VCR 6.2.0
