---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/test/repository
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85d797a48eb4adea76c8c9de65acb4a4e9580407b5f8bfde5be07c99c8a28611"
      Last-Modified:
      - Sat, 25 May 2024 18:37:35 GMT
      Github-Authentication-Token-Expiration:
      - '2024-05-29 04:06:58 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - metadata=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1716672721'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":"123","full_name":"test/repositroy","owner":{"avatar_url":"https://example.com/avatar.jpg"},"created_at":"2000-01-01 09:00:00 +0000","updated_at":"2000-01-01 10:00:00 +0000"}'
  recorded_at: Sat, 25 May 2024 20:32:01 GMT
recorded_with: VCR 6.2.0
