---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:issue%20author:error
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-05-29 04:06:58 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1716669126'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"The listed users
        cannot be searched either because the users do not exist or you do not have
        permission to view the users.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/search/"}'
  recorded_at: Sat, 25 May 2024 20:32:03 GMT
recorded_with: VCR 6.2.0
