---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repositories/123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"id":123,"full_name":"test/repository","owner":{"avatar_url":"https://example.com/avatar.png"},"created_at":"2000-01-01T00:00:00Z","updated_at":"2000-01-01T00:00:00Z"}'
  recorded_at: Thu, 04 Jul 2024 12:42:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/test/repository/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '[{"id":201,"name":"1","color":"2E29EA"},{"id":202,"name":"2","color":"16704F"},{"id":203,"name":"3","color":"7d4c0e"},{"id":204,"name":"bug","color":"d73a4a"},{"id":205,"name":"新機能","color":"EEAE53"}]'
  recorded_at: Thu, 04 Jul 2024 12:42:42 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:issue%20author:kimura
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":3,"items":[{"id":303,"number":303,"title":"バグの報告１","user":{"id":"501"},"labels":[{"id":201},{"id":204}],"created_at":"2024-01-13T07:41:50Z","updated_at":"2024-05-20T13:45:40Z"},{"id":304,"number":304,"title":"バグの報告２","user":{"id":"501"},"labels":[{"id":202},{"id":205}],"created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T13:45:14Z"},{"id":305,"number":305,"title":"新機能の提案","user":{"id":"501"},"labels":[{"id":203}],"created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:42 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:issue%20assignee:kimura
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":301,"number":301,"title":"バグの修正","labels":[{"id":201},{"id":204}],"user":{"id":"502"},"created_at":"2024-01-13T07:41:50Z","updated_at":"2024-05-20T10:45:40Z"},{"id":302,"number":302,"title":"新機能の追加","labels":[{"id":202},{"id":205}],"user":{"id":"502"},"created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T10:45:14Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:38 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:pr%20assignee:kimura%20-label:release
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":401,"number":401,"body":"# Issue\n- #301\n\n# 概要","created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"},{"id":402,"number":402,"body":"# Issue\n- #302\n\n# 概要","created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:39 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:pr%20reviewed-by:kimura%20review:approved%20-assignee:kimura
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":403,"number":403,"body":"# Issue\n - #306\n\n# 概要","created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"},{"id":404,"number":404,"body":"# Issue\n - #307\n\n# 概要","created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T10:45:14Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:40 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:issue%20306%20307
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":306,"number":306,"title":"ロゴの変更","user":{"id":502},"labels":[{"id":202}],"created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"},{"id":307,"number":307,"title":"既存機能の改修","user":{"id":502},"labels":[{"id":203}],"created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T10:45:14Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:41 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:pr%20reviewed-by:kimura%20review:approved%20-assignee:kimura
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":403,"number":403,"body":"# Issue\n - #306\n\n# 概要","created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"},{"id":404,"number":404,"body":"# Issue\n - #307\n\n# 概要","created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T10:45:14Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:40 GMT
recorded_with: VCR 6.3.1
