---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:issue%20author:kimura
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-05-29 04:06:58 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1716756354'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":1,"number":123,"title":"issue_123","user":{"id":1},"labels":[{"id":1}],"created_at":"2000-01-01T09:00:00Z","updated_at":"2000-01-01T10:00:00Z"},{"id":2,"number":456,"title":"issue_456","user":{"id":1},"labels":[{"id":1}],"created_at":"2000-01-01T09:00:00Z","updated_at":"2000-01-01T10:00:00Z"}]}'
  recorded_at: Sun, 26 May 2024 20:44:54 GMT
recorded_with: VCR 6.2.0
