---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:pr%20reviewed-by:kimura%20review:approved%20-assignee:kimura
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-06-16 19:30:48 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1717950115'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":1,"number":100,"body":"## Issue\r\n\r\n- https://github.com/test/repository/issues/11\r\n\r\n## 概要","created_by":"2000/01/01 09:00:00","updated_by":"2000/01/01 10:00:00"},{"id":2,"number":200,"body":"## Issue\r\n\r\n- https://github.com/test/repository/issues/12\r\n\r\n## 概要","created_by":"2000/01/01 09:00:00","updated_by":"2000/01/01 10:00:00"}]}'
  recorded_at: Sun, 09 Jun 2024 16:21:24 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:issue%2011%2012
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-06-16 19:30:48 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1717950115'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":11,"number":11,"title":"issue_11","user":{"id":1},"labels":[{"id":1}],"created_at":"2000-01-01T09:00:00Z","updated_at":"2000-01-01T10:00:00Z"},{"id":12,"number":12,"title":"issue_12","user":{"id":1},"labels":[{"id":1}],"created_at":"2000-01-01T09:00:00Z","updated_at":"2000-01-01T10:00:00Z"}]}'
  recorded_at: Sun, 09 Jun 2024 16:21:24 GMT
recorded_with: VCR 6.2.0
